{% extends "navigation.html" %}


{% block section %}
{% for mesg in get_flashed_messages() %}
    <script>alert("{{mesg}}")</script>
{% endfor %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<div class="yellow">
    <h3>맛집 등록 화면</h3>
</div>

<br><br>

    
<form action="/submit_diner_post" method="post" enctype="multipart/form-data">
<div class="form-container">
    <b id="dinerformtext">식당이름</b><input id="input1" type="text" name="name"><br><br>
    <b id="dinerformtext">주소&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b><input id="input1" type="text" name="addr"> <br><br>
    <b id="dinerformtext">전화번호</b><input id="input1" type="text" name="tel"> <br><br>
    
    <b id="dinerformtext">음식종류</b>
    <select input id="input1" name="category">
        <option value="japan">일식</option>
        <option value="china">중식</option>
        <option value="europe">양식</option>
        <option value="korea">한식</option>
        <option value="dessert">카페 디저트</option>
    </select>
    
    <br><br>
    
    <b id="dinerformtext">가격대&nbsp&nbsp&nbsp</b>
    <select input id="input1" name="price">
        <option value="5000">5,000원 이하</option>
        <option value="10000">5,000원 ~ 10,000원</option>
        <option value="15000">10,000원 ~ 15,000원</option>
        <option value="20000">15,000원 ~ 20,000원</option>
        <option value="25000">20,000원 이상</option>
    </select>
    <br><br>
    <b id="dinerformtext">주차여부</b>
    <select input id="input1" name="park">
        <option value="parkingyes">주차 가능</option>
        <option value="parkingno">주차 불가</option>
    </select>
    <br><br>
    <b id="dinerformtext">영업시간</b>
    <input id="input2" type="time" name="time1"> ~ <input id="input2" type="time" name="time2">
    <br><br>
    <b id="dinerformtext">사이트&nbsp&nbsp&nbsp&nbsp</b><input id="input1" type="text" name="site"><br><br>
    
    <div>
        <b id="dinerformtext2">대표사진</b><br>
        <input type="file" name="file" id="img" accept='image/*'><br><br><br>
	    <img id="previewImg" height="150px" src="{{url_for('static',filename='image/img_1.png')}}" alt="이미지 미리보기">
    </div>
    <br>
    
    
    <br>
    <input type="submit" value="등록하기" class="btn" id="changebtn">
    <br><br><br>
</div>
</form>    
    
<!-- <div id="dinernext">
    맛집 대표 메뉴도 등록하기<br>
    <a href="/Menu_rg"><h4>다음으로 >> </h4></a>
</div> -->


<br><br><br><br><br><br>

<footer>
    <!-- <h2>Footer</h2> -->
    <p style="color:aliceblue">이대맛집</p>
    <p style="color:aliceblue">Website made by Team Osorii</p>
</footer>


<script src="{{url_for('static',filename='script2.js')}}" defer></script>
{% endblock section %}