{% extends "navigation.html" %}


{% block section %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<div style="background-image: url({{ url_for('static', filename='image/foodbanner2.jpg') }})" class="welcome">
    <br><br><br><br>
    <h2>이대 주변 식당들 모두 여기에!</h2>
    <br>
    <a href="/dinerform" class="btn">맛집 등록하러 가기</a>
    <br><br><br><br><br><br>
</div>

<br>


<div class="navbar">
    <h3 id="leftspace">맛집 리스트</h3>
    <span class="nav">
        <a href="/dinerlist"><p id="rightspace">더보기</p></a>
    </span>
</div>

<div class="swiper-container">
	<div class="swiper-wrapper">
        
        {% for i in for_len %}
            <div class="swiper-slide">
                <a href="/view_detail/{{datas[i].name}}/">
                    <div>
                    <img src="/static/image/{{datas[i].img_path}}">
                    <p><b>{{datas[i].name}}</b></p>
                    <p>{{datas[i].addr}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        
	</div>

	<!-- 네비게이션 -->
	<div class="swiper-button-next swiper-button-black"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
	<div class="swiper-button-prev swiper-button-black"></div><!-- 이전 버튼 -->

	<!-- 페이징 -->
	<div class="swiper-pagination"></div>
</div>




<br><br><br><br><br>

<!-- <div class="navbar">
    <h3 id="leftspace">최신 맛집 리뷰</h3>
</div> -->
 
<!-- 클래스명은 변경하면 안 됨 -->
<!-- <div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide img2">
            <div>
            <img src="{{url_for('static', filename='image/star.png')}}">
            <p><b>식당 이름</b></p>
            <p>"너무 맛있어요"</p>
            </div>
        </div>
		<div class="swiper-slide img2">
            <div>
                <img src="{{url_for('static', filename='image/star.png')}}">
                <p><b>식당 이름</b></p>
                <p>"너무 맛있어요"</p>
            </div>
        </div>
		<div class="swiper-slide img2">
            <div>
                <img src="{{url_for('static', filename='image/star.png')}}">
                <p><b>식당 이름</b></p>
                <p>"너무 맛있어요"</p>
            </div>
        </div>
        <div class="swiper-slide img2">
            <div>
            <img src="{{url_for('static', filename='image/star.png')}}">
            <p><b>식당 이름</b></p>
            <p>"괜찮아요"</p>
            </div>
        </div>
		<div class="swiper-slide img2">
            <div>
                <img src="{{url_for('static', filename='image/star.png')}}">
                <p><b>식당 이름</b></p>
                <p>"괜찮아요"</p>
            </div>
        </div>
		<div class="swiper-slide img2">
            <div>
                <img src="{{url_for('static', filename='image/star.png')}}">
                <p><b>식당 이름</b></p>
                <p>"괜찮아요"</p>
            </div>
        </div>
        <div class="swiper-slide img2">
            <div>
            <img src="{{url_for('static', filename='image/star.png')}}">
            <p><b>식당 이름</b></p>
            <p>"너무 맛없어요"</p>
            </div>
        </div>
		<div class="swiper-slide img2">
            <div>
                <img src="{{url_for('static', filename='image/star.png')}}">
                <p><b>식당 이름</b></p>
                <p>"너무 맛없어요"</p>
            </div>
        </div>
		<div class="swiper-slide img2">
            <div>
                <img src="{{url_for('static', filename='image/star.png')}}">
                <p><b>식당 이름</b></p>
                <p>"너무 맛없어요"</p>
            </div>
        </div>
	</div>

	<!-- 네비게이션 -->
	<!-- <div class="swiper-button-next swiper-button-black"></div>
	<div class="swiper-button-prev swiper-button-black"></div>


	<div class="swiper-pagination"></div>
</div> -->

<br><br><br><br><br><br>

<footer>
    <!-- <h2>Footer</h2> -->
    <p style="color:aliceblue">이대맛집</p>
    <p style="color:aliceblue">Website made by Team Osorii</p>
</footer>



<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>

{% endblock section %}