<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>🍐 이대맛집 🍐</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='member-join.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="{{ url_for('static', filename='member-join.js') }}" defer></script>
	</head>
	<body>
		<div class="container">
			<div class="join">
				<a href="/">
					<div class="logo">
						<img src="{{ url_for('static', filename='image/pearlogo1.png') }}">
					</div>
				</a>
				<section class="join-section">
					<div class="id">	
						<input placeholder="아이디" type="text">
						<button onclick="checkalert()"> 아이디 중복 확인 </button>
						<script src="{{ url_for('static', filename='member-join.js') }}" defer></script>
					</div>
					<div class="id password">
						<input placeholder="비밀번호" type="password">
					</div>
					<div class="id password check">
						<input placeholder="비밀번호 확인" type="password">
					</div>
					<!-- 버튼 클릭 링크 맛집 홈 화면으로 연결 -->
					<div class="join-button">
						<button type="button" onClick="location.href='/'">회원가입</button>
					</div>
				</section>
			</div>
		</div>
		
	</body>
</html>
