{% extends "navigation.html" %}

{% block section %}
<style>
.list{
    position:relative;
    right:20px;  
}
.list_1{
    position: relative;
    right: 25px;
}

.menu{
   /* max-width:1300px; */
    margin:auto;
    /* padding-left:50px;
    padding-right: 25px; */
    line-height: 200%;
    text-align: center;
    align-items: center;
 
}

 #menu{
    position:static;
    width: 400px;
    height: 35px;
}

#img{
  padding-left: 15px;
  position:static;
    width: 400px;
    height: 35px;
 
}


 .return{
    padding-left: 20px;
    float: left;
 }

.fd{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.food {
   display: block;
    margin-left: 10px;
    float: left;
     
}
/*
.row1{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
*/

#r1{
    overflow:hidden;
    object-fit: cover;
    width:550px;
    height:300px;
 /* align: left top; */
    margin: auto;
    padding-left: 100px;
    }
    
.num1{
/*    flex-basis:45%;
    text-align:center;*/
    padding: 40px;
    border: 1px solid #f1f1f1;
    width:1300px;
    height:400px;
}

    .num2{
        margin-top: 40px;
        padding-left: 100px;
        
    }
    
    .cutting{
        width: 20%;
        
    }

hr {
    width: 65%;
}
.hr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0px;
    border-top:1px dotted black;
}

.look{
    text-align: right;
    padding-right: 25px;
    margin: 5px; 
    

}


.re{
    margin-right: 20px;
    float: right;
}

    .button{
    border: 0;
    outline: dashed;
    outline-color: gray;
    font-size: 30px;
    margin: 30px;
    background: white;
    color: black;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    cursor: pointer;
    border-radius: 20px;
}
#previewImg{
    outline-color: gray;
    outline: none;
    object-fit: contain;
}

.mcontainer{
     /* max-width: 50%;*/
      margin:auto;
}
</style>
	 <link rel="stylesheet" href="{{ url_for('static', filename='Menu.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--내비게이션--> 
	<div class="yellow">
        <h3>대표 메뉴 조회 화면</h3>
    </div><!-- 대표메뉴 조회 화면-->
	<br>
    <a href="/view_detail/{{restaurant_name}}">
    <b class="return" > < 맛집으로 </b>
    </a>
        
    <form method="post" action="/Menu_rg">
    
    <!-- <button type="submit" class="re">수정하기 -->
 
    <!--<img src="{{ url_for('static', filename='image/change.png') }}" width="100px" class="re">-->
           
        </form>
    
    <br><br>
{% if total > 0 %}
<p class="return">
<!-- 메뉴 개수 -- 현재까지 {{total}}개 등록됨 -->
    
</p>
<br><br><br><br>
<section>
{% for data in datas %}    
    <div class="mcontainer" style="margin-right:860px">
            <div class="num1" align="center">
                <img src="../../static/image/{{data.img_path}}" id="r1" align="left">
                    <div class="num2" align="left">
                    <b><pre>음식 이름</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.name[0:49]}}</pre><br>
                    <b><p>가격</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.price}}</p><br>
                    <b><pre>주의 성분</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.allergy}}</pre><br>
                    <b><p>설명</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[0:25]}}</p><br>
                    {% if data.write|length > 25 %}<p>&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[25:50]}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[50:75]}}</p>{% endif %}
                    {% if data.write|length > 75 %}<p>&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[75:100]}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[100:125]}}</p>{% endif %}
                    {% if data.write|length > 125 %}<p>&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[125:150]}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[150:175]}}</p>{% endif %}
                    {% if data.write|length > 175 %}<p>&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[175:200]}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[200:225]}}</p>{% endif %}
                    {% if data.write|length > 225 %}<p>&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[225:250]}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[250:275]}}</p>{% endif %}
                    {% if data.write|length > 275 %}<p>&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.write[275:300]}}
                    {{data.write[300:325]}}</p>{% endif %}
                </div>
            </div>
    </div>
            {% endfor %}
            {% else %}
            <br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br>
            <p align="center">
                등록된 메뉴가 없습니다.
            </p>
            <br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br>
            {% endif %}
        </div>
        
<br><br><br>
</section>
                

<footer>
    <!-- <h2>Footer</h2> -->
    <p style="color:aliceblue">이대맛집</p>
    <p style="color:aliceblue">Website made by Team Osorii</p>
</footer>
         

{% endblock section %}