{% extends "navigation.html" %}

{% block section %}
<head>
	 <link rel="stylesheet" href="{{ url_for('static', filename='Menu.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

    <!--내비게이션--> 
	<div class="yellow">
        <h3>대표 메뉴 조회 화면</h3>
    </div><!-- 대표메뉴 조회 화면-->
	<br>
    <a href="/placeDashboard">
    <b class="return" > < 맛집으로 </b>
    </a>
<!-- <a href="/Menu_rg">
    <img src="{{ url_for('static', filename='image/change.png') }}" width="100px" class="re">
</a> -->
    <br><br>
    
<div class="menucontainer">
    <div id="food">
    <div class="num1">
             <img src="https://mp-seoul-image-production-s3.mangoplate.com/keyword_search/meta/pictures/tw6ljh9r41tlfkaq.jpg" width="400px" class="num1_1" class="food"></div>
            <div class="num2">
                
                <p><b class="look">음식 이름</b>사케동</p><br>
                <p><b class="look">가격&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>0원<br><br>
                <P><b class="look">주의 성분</b>0000</P><br>
                 <p><b class="look">설명&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>매우 맛있다</p><br>
                </div></div>
               <br><br>

    <hr class="hr">
            
            <div id="food">
                <div class="num1">
                <img src="https://mp-seoul-image-production-s3.mangoplate.com/keyword_search/meta/pictures/tw6ljh9r41tlfkaq.jpg" width="400px"  class="num1_1" class="food"></div>

                    <div class="num2">
                    
                    <p><b class="look">음식 이름</b>사케동</p><br>
                    <p><b class="look">가격&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>0원<br><br>
                    <P><b class="look">주의 성분</b>0000</P><br>
                    <p><b class="look">설명&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>매우 맛있다</p><br>
                </div>
            </div>
            <br><br>
             <hr class="hr">
            
            <div id="food">
            <div class="num1">
             <img src="https://mp-seoul-image-production-s3.mangoplate.com/keyword_search/meta/pictures/tw6ljh9r41tlfkaq.jpg" width="400px"  class="num1_1" class="food"></div>

                <div class="num2">
                
                <p><b class="look">음식 이름</b>사케동</p><br>
                <p><b class="look">가격&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>0원<br><br>
                <P><b class="look">주의 성분</b>0000</P><br>
                 <p><b class="look">설명&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>매우 맛있다</p><br>
            </div>
        </div>
</div>
    
<br><br>
        
<footer>
    <!-- <h2>Footer</h2> -->
    <p style="color:aliceblue">이대맛집</p>
    <p style="color:aliceblue">Website made by Team Osorii</p>
</footer>
        

<script type="text/javascript" src="{{ url_for('static', filename='Menu.js') }}"></script>
        
{% endblock section %}