
{% extends "navigation.html" %}


{% block section %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='review.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="yellow">
	<h2 class="review_header">식당 이름</h2>
	<div class="constant-star">
	
	<span class="fa fa-star checked fa-2x"></span>
	<span class="star-rate">
		4.3
		</span>
	</div>
</div>
<br>
<a href="/placeDashboard">
    <b class="return" >&nbsp&nbsp&nbsp&nbsp< 맛집으로</b>
    </a>

<div class="reviewcontainer">
<br><br>
<div class="review-nav">
	<b>리뷰(17)</b>
	<button class="cursor" onclick="location.href='/review_upload'">
		리뷰 작성하기
	</button>
	<select input id="latest">
		<option value="latest">최신순</option>
		<option>별점 낮은순</option>
		<option>별점 높은순</option>
	</select>
	</div>
	
	<br><br>
	

	<image src="{{url_for('static',filename='image/review1.png')}}" class="review1"></image>
	<image src="{{url_for('static',filename='image/review2.png')}}" class="review2"></image>
	</div>
    
<br><br><br><br><br><br>

<footer>
    <!-- <h2>Footer</h2> -->
    <p style="color:aliceblue">이대맛집</p>
    <p style="color:aliceblue">Website made by Team Osorii</p>
</footer>
								 
<script src="{{url_for('static',filename='review.js')}}"></script>
<script src="{{url_for('static',filename='script.js')}}"></script>

{% endblock section %}