<html>

<head>
    <meta charset="utf-8">
    <title>🍐 이대맛집 🍐</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='review.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
	
	
<body>
	<div class="container">
    <div class="navbar">
        <div>
            <a href="/">
                <img src="{{url_for('static',filename='image/pearlogo.png')}}" width="100px">
            </a>
        </div>
        <span class="nav">
            <a href="/favorite" id="bar"><img src="{{url_for('static',filename='image/favorites.png')}}" width="75px"></a>
            <a onclick="openPopup()" class="cursor" id="bar2">
                 <img src="{{url_for('static',filename='image/profile.png')}}" width="60px">
            </a>
            <div class="popup" id="popup">
                <a href="/login"><p style="color:black">로그인</p></a>
                <a href="/member-join"><p style="color:black">회원가입</p></a>
            </div>
        </span>      
    </div>
</div>
 <form method="post" enctype="multipart/form-data" action="/submit_review_post">
<div class="yellow">
    <h1>______의</h1>
	<h1>리뷰를 작성해주세요.</h1>
	<br>
  
	<div class="star">
        {%for i in range(1, 6)%}
            <span class="fa fa-star fa-3x" id="star{{i}}" onclick="setStarRating({{i}})"></span>
        {%endfor%}
    </div>
    <input type="hidden" id="star_rating" name="starRate" value=""/>
    </div>

<br>
	<div class="form-container">	
		<div id="leftspace2"><input type="file" name="picture" id="img" accept='image/*'>
		</div>
			<br><br>
	    <img id="previewImg" height="150px" src="{{url_for('static',filename='image/img_1.png')}}" alt="이미지 미리보기">
	</div>
<br>

	<div class="textarea">
	<textarea id="review" placeholder="후기를 작성하세요." size="100" name="review"></textarea>
		</div>
	<br>
	 <input type="submit"  class="reviewbutton" value="등록하기">
</form>
	
<br><br><br><br><br><br>

<footer>
    <!-- <h2>Footer</h2> -->
    <p style="color:aliceblue">이대맛집</p>
    <p style="color:aliceblue">Website made by Team Osorii</p>
</footer>

<script src="{{url_for('static',filename='review.js')}}"></script>
<script src="{{url_for('static',filename='script2.js')}}"></script>
    
    </body>
</html>
