@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    max-width: 100%;
    margin:auto;
    padding-left:25px;
    padding-right: 25px;
}

.navbar{
    display:flex;
    align-items: center;
    padding:12px;
}

.nav{
    flex:1;
    text-align: right;
}

#bar{
    text-decoration: none;
    color:black;
    margin-right: 20px;
}

#bar2{
    text-decoration: none;
    color:black;
    padding-top: 100px;
}

.popup{
    width:150px;
    background:#fff;
    border-radius: 6px;
    position:absolute;
    text-align: left;
    right:50px;
    box-shadow:1px 1px 1px 1px darkgrey;
    padding:10px 20px 10px;
    line-height: 200%;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
}

.cursor{
    cursor:pointer;
}

a{
    text-decoration: none;
    color: black
}

#rightspace{
    margin-right: 30px;
}

.yellow{
    background-color: #ffd35c;
    text-align:center;
    padding: 20px;
}

.main-container{
    max-width: 1300px;
    margin:auto;
    padding-left:25px;
    padding-right: 25px;
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
	flex-direction: row;
    padding-bottom: 30px;
}

.col3{
    flex-basis:400px;
    text-align:center;
	border: solid 2px lightgray;
	border-radius: 10px;
	padding: 15px;
	margin: 5px;
	box-sizing: border-box;
}

.col-bar{
	display:flex;
    align-items: center;
}

.col-bar h3{
	text-align: left;
	width: 40%;
	margin-right: 10px;
}

.col-bar p{
	width: 10%;
	font-size: 20px;
	color: #ED7D31;
	margin-right: 55%;
}

.col-bar img{
	width: 35px;
	height: 35px;
	margin-right: 15px;
}

.col-main img{
    max-width: 65%;
    height: 150px;
	float: left;
	margin-top: 10px;
	margin-right: 15px;
}

.col-main p{
	display: inline-block;
	margin-top: 40px;
	text-align: left;
	font-size: 15px;
	line-height: 23px;
}

.col3:hover{
    transform:translateY(-5px);
}

footer {
    padding: 20px;
    text-align: center;
    background: #201c1c;
    margin-top: 20px;
    clear : both;
}