@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.login{
	width:40%;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.logo{
	padding-top: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo img
{
	width: 250px;
	height: 68px;
}

.login-section{
	margin-top: 15px;
}

.id{
	width: 350px;
	height :48px;
	border: solid 2px #f1f1f1;
	border-radius: 10px;
	background: white;
}

.id{
	margin-top: 15px;
}

.id input{
	border: none;
	border-radius: 10px;
	background: none;
	outline: none;
	font-size: 14px;
	width: 348px;
	height:46px;
	padding: 10px;
}

.login-button{
	padding-top: 25px;
}

.login-button button{
	width: 350px;
	height :48px;
	font-size: 17px;
	background-color: #ffd35c;
	color: black;
	border: none;
	border-radius: 10px;
}

.login-button > button:active{
	background-color: #ebc255;
}

.member-join{
	padding-top: 8px;
	text-align: right;
}

.member-join a{
	text-decoration-line: none;
	font-size: 15px;
	color: black;
	
}