@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

.container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.join{
	width:40%;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.logo{
	padding-top: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo img
{
	width: 250px;
	height: 68px;
}

.join-section{
	margin-top: 15px;
}

.id{
	width: 350px;
	height :48px;
	border: solid 2px #f4f4f4;
	border-radius: 10px;
	background: white;
	display:flex;
	flex-direction:row;
}

.id button{
	margin-right: 9px;
	margin-top: 10px;
	width: 154px;
	height: 25px;
}

.id{
	margin-top: 15px;
}

.id input{
	border: none;
	border-radius: 10px;
	background: none;
	outline: none;
	font-size: 14px;
	width: 348px;
	height:46px;
	padding: 10px;
}

.join-button{
	padding-top: 25px;
}

.join-button button{
	width: 350px;
	height :48px;
	font-size: 17px;
	background-color: #ffd35c;
	color: black;
	border: none;
	border-radius: 10px;
}

.join-button > button:active{
	background-color: #ebc255;
}
