@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;
}


.navbar{
    display:flex;
    align-items: center;
    padding:12px;
}

.nav{
    flex:1;
    text-align: right;
}

#bar{
    text-decoration: none;
    color:black;
    margin-right: 20px;
}

/* #bar2{
    text-decoration: none;
    color:black;
    padding-top: 100px;
} */

.welcome{
    /* background-image: url("../images/foodbanner2.jpg"); */
    /* background-color: #ffd35c; */
    text-align:center;
}

h2{
    text-align: center;
    font-size: 35px;
    color: white;
    
}

h3{
    margin-left: 30px;
}

h4{
    font-size:20px;
}

.btn{
    font-size:15px;
    display:inline-block;
    color:white;
    background:#201c1c;
    padding: 7px 25px;
    border-radius: 15px;
    align-items: center;
    cursor:pointer;
}

.popup{
    width:150px;
    background:#fff;
    border-radius: 6px;
    position:absolute;
    text-align: left;
    /* right:4%; */
    right:50px;
    box-shadow:1px 1px 1px 1px darkgrey;
    padding:10px 20px 10px;
    line-height: 200%;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
}

.cursor{
    cursor:pointer;
}

a{
    text-decoration: none;
    color: black
}

#leftspace{
    margin-left: 50px;
}

#leftspace2{
    margin-left: 80px;
}

#rightspace{
    margin-right: 50px;
}



.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
    padding:20px;
    padding-left: 200px;
    padding-right: 200px;

}
.swiper-slide img {
	box-shadow:0 0 2px #555;
	width:350px;
    height:200px;
    /* width: 100%; */
}

.swiper-pagination-bullets {
    display: none;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background: #201c1c;
    margin-top: 20px;
    clear : both;
}

.img2 img{
    box-shadow:none;
    height: 80px;
}

.yellow{
    background-color: #ffd35c;
    text-align:center;
    padding: 20px;
}

.container{
    /* max-width:1300px; */
    max-width: 100%;
    margin:auto;
    padding-left:25px;
    padding-right: 25px;
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-bottom: 50px; */
}

.col3{
    flex-basis:25%;
    text-align:center;
    padding-bottom: 40px;
    transition: 0.5s; 
}

.col3 img{
    width:350px;
    height:200px;
    margin:15px;
}

.col3:hover{
    transform:translateY(-5px);
}


/*DinerForm*/
.form-container{
    /* max-width:1300px; */
    margin:auto;
    /* padding-left:50px;
    padding-right: 25px; */
    line-height: 200%;
    text-align: center;
    align-items: center;
}

#input1{
    position:static;
    width: 400px;
    height: 35px;
}

#input2{
    width: 190px;
    height: 35px;
}

#form-lineheight{
    line-height: 300%;
}

#dinerformtext{
    position:relative;
    right:20px;
}

#dinerformtext2{
    position:relative;
    right: 220px;
}

#dinernext{
    text-align: right;
    padding-right:50px;
}

.real-upload {
    display: none;
  }
  
.upload {
    width:400px;
    position:relative;
    left:35px;
}

#preview{
  width:400px;
  position:relative;
  left:35px;
}

.center{
    align-items: center;
}

#changebtn{
    padding-top:5px;
    padding-bottom:5px;
}

@media(max-width:600px){
    #input1{
        width:200px;
    }
    #input2{
        width:90px;
    }
    #dinerformtext2{
        position:relative;
        right: 120px;
    }
    .swiper-slide {
        text-align:center;
        display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items:center; /* 위아래 기준 중앙정렬 */
        justify-content:center; /* 좌우 기준 중앙정렬 */
        margin-left:80px;
    
    }
    .swiper-slide img {
        box-shadow:0 0 2px #555;
        width:350px;
        height:200px;
        /* width: 100%; */
    }
    .img2 img{
        box-shadow:none;
        height: 80px;
    }
    #preview{
        width:300px;
        position:relative;
    }
}